/* -------------- Myriad Pro Condensed -------------- */
@font-face {
    font-family: 'MyriadPro-Condensed-Light';
    src: url('fonts/Myriad-Pro-Condensed/eot/MyriadPro-LightCond.eot');
    src: url('fonts/Myriad-Pro-Condensed/eot/MyriadPro-LightCond.eot') format('embedded-opentype'),
         url('fonts/Myriad-Pro-Condensed/woff2/MyriadPro-LightCond.woff2') format('woff2'),
         url('fonts/Myriad-Pro-Condensed/woff/MyriadPro-LightCond.woff') format('woff'),
         url('fonts/Myriad-Pro-Condensed/ttf/MyriadPro-LightCond.ttf') format('truetype'),
}
@font-face {
    font-family: 'MyriadPro-Condensed-Regular';
    src: url('fonts/Myriad-Pro-Condensed/eot/MyriadPro-Cond.eot');
    src: url('fonts/Myriad-Pro-Condensed/eot/MyriadPro-Cond.eot') format('embedded-opentype'),
         url('fonts/Myriad-Pro-Condensed/woff2/MyriadPro-Cond.woff2') format('woff2'),
         url('fonts/Myriad-Pro-Condensed/woff/MyriadPro-Cond.woff') format('woff'),
         url('fonts/Myriad-Pro-Condensed/ttf/MyriadPro-Cond.ttf') format('truetype'),
}
@font-face {
    font-family: 'MyriadPro-Condensed-SemiBold';
    src: url('fonts/Myriad-Pro-Condensed/eot/MyriadPro-SemiboldCond.eot');
    src: url('fonts/Myriad-Pro-Condensed/eot/MyriadPro-SemiboldCond.eot') format('embedded-opentype'),
         url('fonts/Myriad-Pro-Condensed/woff2/MyriadPro-SemiboldCond.woff2') format('woff2'),
         url('fonts/Myriad-Pro-Condensed/woff/MyriadPro-SemiboldCond.woff') format('woff'),
         url('fonts/Myriad-Pro-Condensed/ttf/MyriadPro-SemiboldCond.ttf') format('truetype'),
}
@font-face {
    font-family: 'MyriadPro-Condensed-Bold';
    src: url('fonts/Myriad-Pro-Condensed/eot/MyriadPro-BoldCond.eot');
    src: url('fonts/Myriad-Pro-Condensed/eot/MyriadPro-BoldCond.eot') format('embedded-opentype'),
         url('fonts/Myriad-Pro-Condensed/woff2/MyriadPro-BoldCond.woff2') format('woff2'),
         url('fonts/Myriad-Pro-Condensed/woff/MyriadPro-BoldCond.woff') format('woff'),
         url('fonts/Myriad-Pro-Condensed/ttf/MyriadPro-BoldCond.ttf') format('truetype'),
}

/* -------------- Helvetica Neue Condensed -------------- */
@font-face {
    font-family: 'HelveticaNeue-Condensed-Thin';
    src: url('fonts/Helvetica-Neue/eot/HelveticaNeue-UltraLigCond.eot');
    src: url('fonts/Helvetica-Neue/eot/HelveticaNeue-UltraLigCond.eot') format('embedded-opentype'),
         url('fonts/Helvetica-Neue/woff2/HelveticaNeue-UltraLigCond.woff2') format('woff2'),
         url('fonts/Helvetica-Neue/woff/HelveticaNeue-UltraLigCond.woff') format('woff'),
         url('fonts/Helvetica-Neue/ttf/HelveticaNeue-UltraLigCond.ttf') format('truetype'),
}
@font-face {
    font-family: 'HelveticaNeue-Condensed-Ultralight';
    src: url('fonts/Helvetica-Neue/eot/HelveticaNeue-ThinCond.eot');
    src: url('fonts/Helvetica-Neue/eot/HelveticaNeue-ThinCond.eot') format('embedded-opentype'),
         url('fonts/Helvetica-Neue/woff2/HelveticaNeue-ThinCond.woff2') format('woff2'),
         url('fonts/Helvetica-Neue/woff/HelveticaNeue-ThinCond.woff') format('woff'),
         url('fonts/Helvetica-Neue/ttf/HelveticaNeue-ThinCond.ttf') format('truetype'),
}
@font-face {
    font-family: 'HelveticaNeue-Condensed-Light';
    src: url('fonts/Helvetica-Neue/eot/HelveticaNeue-LightCond.eot');
    src: url('fonts/Helvetica-Neue/eot/HelveticaNeue-LightCond.eot') format('embedded-opentype'),
         url('fonts/Helvetica-Neue/woff2/HelveticaNeue-LightCond.woff2') format('woff2'),
         url('fonts/Helvetica-Neue/woff/HelveticaNeue-LightCond.woff') format('woff'),
         url('fonts/Helvetica-Neue/ttf/HelveticaNeue-LightCond.ttf') format('truetype'),
}
@font-face {
    font-family: 'HelveticaNeue-Condensed-Bold';
    src: url('fonts/Helvetica-Neue/eot/HelveticaNeue-BoldCond.eot');
    src: url('fonts/Helvetica-Neue/eot/HelveticaNeue-BoldCond.eot') format('embedded-opentype'),
         url('fonts/Helvetica-Neue/woff2/HelveticaNeue-BoldCond.woff2') format('woff2'),
         url('fonts/Helvetica-Neue/woff/HelveticaNeue-BoldCond.woff') format('woff'),
         url('fonts/Helvetica-Neue/ttf/HelveticaNeue-BoldCond.ttf') format('truetype'),
}
@font-face {
    font-family: 'HelveticaNeue-Condensed-Black';
    src: url('fonts/Helvetica-Neue/eot/HelveticaNeue-BlackCond.eot');
    src: url('fonts/Helvetica-Neue/eot/HelveticaNeue-BlackCond.eot') format('embedded-opentype'),
         url('fonts/Helvetica-Neue/woff2/HelveticaNeue-BlackCond.woff2') format('woff2'),
         url('fonts/Helvetica-Neue/woff/HelveticaNeue-BlackCond.woff') format('woff'),
         url('fonts/Helvetica-Neue/ttf/HelveticaNeue-BlackCond.ttf') format('truetype'),
}

/* -------------- Myriad Pro Condensed -------------- */
@font-face {
    font-family: 'MyriadPro-Light';
    src: url('fonts/Myriad-Pro/eot/MyriadPro-Light.eot');
    src: url('fonts/Myriad-Pro/eot/MyriadPro-Light.eot') format('embedded-opentype'),
         url('fonts/Myriad-Pro/woff2/MyriadPro-Light.woff2') format('woff2'),
         url('fonts/Myriad-Pro/woff/MyriadPro-Light.woff') format('woff'),
         url('fonts/Myriad-Pro/ttf/MyriadPro-Light.ttf') format('truetype'),
}
@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('fonts/Myriad-Pro/eot/MyriadPro-Regular.eot');
    src: url('fonts/Myriad-Pro/eot/MyriadPro-Regular.eot') format('embedded-opentype'),
         url('fonts/Myriad-Pro/woff2/MyriadPro-Regular.woff2') format('woff2'),
         url('fonts/Myriad-Pro/woff/MyriadPro-Regular.woff') format('woff'),
         url('fonts/Myriad-Pro/ttf/MyriadPro-Regular.ttf') format('truetype'),
}
@font-face {
    font-family: 'MyriadPro-SemiBold';
    src: url('fonts/Myriad-Pro/eot/MyriadPro-SemiBold.eot');
    src: url('fonts/Myriad-Pro/eot/MyriadPro-SemiBold.eot') format('embedded-opentype'),
         url('fonts/Myriad-Pro/woff2/MyriadPro-SemiBold.woff2') format('woff2'),
         url('fonts/Myriad-Pro/woff/MyriadPro-SemiBold.woff') format('woff'),
         url('fonts/Myriad-Pro/ttf/MyriadPro-SemiBold.ttf') format('truetype'),
}
@font-face {
    font-family: 'MyriadPro-Bold';
    src: url('fonts/Myriad-Pro/eot/MyriadPro-Bold.eot');
    src: url('fonts/Myriad-Pro/eot/MyriadPro-Bold.eot') format('embedded-opentype'),
         url('fonts/Myriad-Pro/woff2/MyriadPro-Bold.woff2') format('woff2'),
         url('fonts/Myriad-Pro/woff/MyriadPro-Bold.woff') format('woff'),
         url('fonts/Myriad-Pro/ttf/MyriadPro-Bold.ttf') format('truetype'),
}
@font-face {
    font-family: 'MyriadPro-Black';
    src: url('fonts/Myriad-Pro/eot/MyriadPro-Black.eot');
    src: url('fonts/Myriad-Pro/eot/MyriadPro-Black.eot') format('embedded-opentype'),
         url('fonts/Myriad-Pro/woff2/MyriadPro-Black.woff2') format('woff2'),
         url('fonts/Myriad-Pro/woff/MyriadPro-Black.woff') format('woff'),
         url('fonts/Myriad-Pro/ttf/MyriadPro-Black.ttf') format('truetype'),
}

/* --------- Main Properties --------- */
/* Tamaño Fuentes */
$font-p: 16px;
$font-h: 30px;

/* Familia de Fuentes */
//Myriad Pro Condensed
$MyriadPro-Condensed-Light: 'MyriadPro-Condensed-Light', sans-serif;
$MyriadPro-Condensed-Regular: 'MyriadPro-Condensed-Regular', sans-serif;
$MyriadPro-Condensed-SemiBold: 'MyriadPro-Condensed-SemiBold', sans-serif;
$MyriadPro-Condensed-Bold: 'MyriadPro-Condensed-Bold', sans-serif;

//Helvetica Neue
$HelveticaNeue-Thin: 'HelveticaNeue-Condensed-Thin', sans-serif;
$HelveticaNeue-UltraLight: 'HelveticaNeue-Condensed-Ultralight', sans-serif;
$HelveticaNeue-Light: 'HelveticaNeue-Condensed-Light', sans-serif;
$HelveticaNeue-Bold: 'HelveticaNeue-Condensed-Bold', sans-serif;
$HelveticaNeue-Black: 'HelveticaNeue-Condensed-Black', sans-serif;

//Myriad Pro
$MyriadPro-Light: 'MyriadPro-Light', sans-serif;
$MyriadPro-Regular: 'MyriadPro-Regular', sans-serif;
$MyriadPro-SemiBold: 'MyriadPro-SemiBold', sans-serif;
$MyriadPro-Bold: 'MyriadPro-Bold', sans-serif;
$MyriadPro-Black: 'MyriadPro-Black', sans-serif;

/* Colores */
$rojo:       #dd141d;
$rojo-2:     #c22a22;
$negro:      #575757;
$negro-2:    #3a3a3a;
$negro-3:    #444444;
$gris:       #ededed;
$gris-2:     #707070;
$gris-3:     #5c5c5c;